
/* por algum motivo tenho impressao que quando coloco neste nao está respondendo passei uns pro diversos.css */



body {
    background-color: rgba(207, 209, 209, 0.161);
}

#cabecalho {
    display: inline-block;
}

#titulodiv{
    display: inline;
    
    padding: 1vw;
    padding-left: 15vw;
    
}

#titulosuperior {
    font-size: 26px;
}

#botaodiv {
    display: inline-block;
    position: absolute;
    margin-top: 10vh;
    margin-left: 35vw;

}


.jumbotron {
    background-color: rgba(161, 200, 218, 0.464);
    
    border-style: solid;
    border-color: black;
    
}

.custom-file {
    width: 50vw;
    padding: 0;
}

.custom-file-input {
    
    width: 32vw;
}

#tabelas {
    display: flex;
    width: 60%;
    
}

#tabela1{
    
    display: block;
   
    
}

#tabela2 {
    
   display: block;
}

/*botao da pagina importacoes feitas */








